#chat {
  display: flex;
}

#details {
  flex: 0.2;
  border: 2px solid white;
  height: 100vh;
}

#chatbox {
  /* width: 90%; */
  height: 100vh;
  display: none;
  flex-direction: column;
  position: relative;
  border: 2px solid;
  /* margin: auto; */
  padding: 20px;
  gap: 10px;
  flex: 1;
}

#chatbox.active {
  display: flex;
}

#chatbox .main {
  flex: 1;
}

#chatbox .message-box {
  width: 100%;
}

#chatbox #message-box {
  width: 100%;
  display: flex;
}

#chatbox #message-box .input {
  flex: 1;
  outline: none;
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  position: relative;
}

#chatbox #message-box .input input {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
  background: inherit;
  outline: none;
  color: white;
}

#chatbox #message-box .input svg {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 30%;
  fill: white;
  cursor: pointer;
}

#chatbox #message-box button {
  background: green;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 20px;
  flex: 0.1;
}

#chatbox .main .message.right {
  text-align: right;
}

#details .user {
  padding: 20px;
  font-size: 15px;
  box-shadow: 0px 0px 10px white;
}

#details .user.Gctive {
  border: 2px solid white;
}
