{{define "register"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>

    <form action="/api/users/create">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm-password" placeholder="Confirm Password">
      <button type="submit">Create Account</button>
    </form>
  
</body>
</html>
{{end}}
